.title {
	font-size: 30pt;
	font-weight: 550;
	font-family: 'Quicksand', sans-serif;
}
.subtitle {
	font-size: 25pt;
	font-weight: 450;
	font-family: 'Quicksand', sans-serif;
}
.text {
	font-size: 20pt;
	font-weight: 300;
	font-family: 'Quicksand', sans-serif;
}
.nav-item{
	color: #fff;
	font-family: 'Quicksand', sans-serif;
}
.nav-item:hover{
	color: #aaa;
	font-family: 'Quicksand', sans-serif;
}
.footer{
	font-size: 12pt;
}
.boxed{
	border-left-style: solid;
	border-right-style: solid;
}
.active{
	text-decoration: underline;
}
p{
	font-family: 'Quicksand', sans-serif;
	text-align: justify;}

a{
	font-family: 'Quicksand', sans-serif;
}
li{
	font-family: 'Quicksand', sans-serif;
}
footer{
	font-family: 'Quicksand', sans-serif;
}
h1{
	font-family: 'Quicksand', sans-serif;
}
@media screen and (max-width: 600px) {
	.col-4{
		width: 100%;
	}
	.col-6{
		width: 100%;
	}
	.title{
		font-size: 8vw;	
	}
	.subtitle{
		font-size: 6vw;
	}
	.text{
		font-size: 2vw;
	}
	
}